<link rel="apple-touch-icon" sizes="180x180" href="/assets/images/apple-touch-icon.png?v=2">
<link rel="icon" type="image/png" sizes="32x32" href="/assets/images/favicon-32x32.png?v=2">
<link rel="icon" type="image/png" sizes="16x16" href="/assets/images/favicon-16x16.png?v=2">
<link rel="manifest" href="/assets/images/site.webmanifest?v=2">
<link rel="mask-icon" href="/assets/images/safari-pinned-tab.svg?v=2" color="#5bbad5">
<link rel="shortcut icon" href="/assets/images/favicon.ico?v=2">
<meta name="apple-mobile-web-app-title" content="K9 Campout">
<meta name="application-name" content="K9 Campout">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/assets/images/browserconfig.xml?v=2">
<meta name="theme-color" content="#ffffff">

<style>
    @font-face {
        font-family: "Logo";
        src: url("/assets/fonts/PhosphatePro-Inline.woff") format("woff"),
        url("/assets/fonts/assets/fonts/PhosphatePro-Inline.otf") format("opentype")
    }
    .site-title {
        font-family: 'Logo', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
    }
    div.logofont {
        font-family: 'Logo', Arial, sans-serif;
        font-weight:normal;
        font-style:normal;
    }
</style>